<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <thymeleaf th:replace="header :: header"/>
    <link th:href="homepage.css" rel="stylesheet"/>
</head>
<body>
<div id="display"></div>
<div id="prompt">
    <form id="input">
        <label for="textInput">Insert Message: </label>
        <input id="textInput" type="text"/>
        <button id="button">Send message</button>
    </form>
</div>

</body>
<script>
    function sucessCallback(response) {

        populateMessages(response);

    };

    function errorCallback(request, status, error) {
        console.log(error);
    };

    $(document).ready(function () {

        $.ajax({
            url: "http://localhost:8080/bruce/chat",
            async: true,
            success: sucessCallback,
            error: errorCallback
        })

        $(document.getElementById("button")).on("click", function () {
            console.log(123)
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/bruce/chat",
                data: "m=" + $(document.getElementById("textInput")).val()

            });
        })

    });

    let populateMessages = function (response) {

        let display = $('[id*=display]');

        response.forEach(element => {

            var message = element;

            var p = "<p>" + message + "</p>";

            display.append(p);

        });
    }

</script>
</html>
